{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "ordersvc.fullname" . }}
  labels:
    {{- include "ordersvc.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- toYaml .Values.ingress.tls | nindent 4 }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /api/v1
            pathType: Prefix
            backend:
              service:
                name: {{ include "ordersvc.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
          - path: /healthz
            pathType: Exact
            backend:
              service:
                name: {{ include "ordersvc.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
          - path: /readyz
            pathType: Exact
            backend:
              service:
                name: {{ include "ordersvc.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
          {{- if .Values.frontend.enabled }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "ordersvc.fullname" . }}-frontend
                port:
                  number: {{ .Values.frontend.service.port }}
          {{- end }}
{{- end }}
